body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: rgb(34, 31, 46);
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto auto 4fr;
  width: 100%;
}

h1 {
  width: 100%;
  font-size: 3rem;
}
h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

table {
  width: fit-content;
  justify-self: center;
  align-self: center;
}

input,
tr,
td {
  padding: 0.1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.2rem;
}
input {
  max-width: 5rem;
}

* {
  box-sizing: border-box;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(27, 27, 43);
  }
}
